<header>
    <nav>
        <a href="/">Mybrary</a>
        <ul>
            <li><a href="/authors">Autores</a></li>
            <li><a href="/authors/new">NewAuthor</a></li>
        </ul>
    </nav>
</header>